<link rel="stylesheet" href="~/css/errorPage.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

<div id="notfound">
	<div class="notfound">
		<div class="notfound-404"></div>
		<h1>500</h1>
		<h2>Oops! We are sorry...</h2>
		<p>Internal Server is occurred.</p>
		<a href="/book/index">Back to Home</a>
	</div>
</div>