@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocalizationOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = LocalizationOptions.Value.SupportedCultures
                        .Select(c => new SelectListItem { Value = c.Name, Text = c.Name })
                        .ToList();

    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ?
                    "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div>
    <select class="btn border-dark form-select w-75" aria-label="Default select example">
        <option selected>Select...</option>
        <option value="0">All</option>
        @foreach (var culture in cultureItems)
        {
            <option><a class="m-3" href="@Url.Action("SetLanguage", "Home", new { culture = culture.Value, returnUrl = returnUrl })">@culture.Text</a></option>
        }
    </select>
</div>

