
<button class="btn col-md-2 bg-white border-dark"><a class="nav-link text-dark p-0" href="@Url.Action("SetLanguage", "Home", new { culture = "en-US", returnUrl = Context.Request.Path })">English</a></button>

<button class=" btn col-md-2 bg-white border-dark mr-5"><a class="nav-link text-dark p-0" href="@Url.Action("SetLanguage", "Home", new { culture = "en-AU", returnUrl = Context.Request.Path })">Myanmar</a></button>


