
@{
    ViewData["Title"] = "Page Not Found";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h1>404</h1>
        <h2>Oops! Page Not Be Found</h2>
        <a href="/book/index">Back to Home</a>
    </div>
</div>
