@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
    var books = ViewData["books"] as IEnumerable<Book>;
}
@model IEnumerable<BookManagement.Models.BookCategory> ;
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-2">
            <div>
                <h3>Categories</h3>
            </div>
            <div>
                <ul class="list-group list-group-flush align-items-start">
                    @foreach(var item in Model)
                    {
                        <li class="list-group-item p-0">
                            <a class="nav-link text-dark" href="#item-1-1">@item.Category_Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="container mb-3">
                <div>
                    <h3>Popular Books</h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4 mb-1">
                    @foreach (var item in books.Take(4))
                    {
                        <div class="col-sm-4">
                            <div class="card h-100">
                                <div>
                                    <img src="~/photos/indexPhoto.jpg" class="w-100 h-100" />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Book_Title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="justify-content-end d-flex">
                    <button class="btn btn-primary">See more</button>
                </div>
            </div>

            <!--Category-->
            <div class="container mb-3" style="margin-bottom:100px">
                <div>
                    <h3>Discount Books</h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4 mb-1 ">
                    @foreach (var item in Model.Take(3))
                    {
                        <div class="col">
                            <div class="card h-100">
                                <div>
                                    <img src="~/photos/indexPhoto.jpg" class="w-100 h-100" />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Category_Name</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="justify-content-end d-flex">
                    <button class="btn btn-primary">See more</button>
                </div>
            </div>
        </div>
    </div>
</div>

